# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*
.env.local
.env.development
.env.production
# Build output
dist/

# IDE-specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Dependency directories
.pnp/
.pnp.js

# MacOS
.DS_Store

# Git conflicts
*.orig
